.project
.pydevproject
.settings
*.bak
*.swp
*.swo
*.swm
*.swn
*.pyc
*.elf
*.o
*.gch
*.a
*.zargo~
*~
*.xmi~
*nohup.out
*.lvimrc
env
.venv/*
tables/*
base/*
logs/*
cdr11001-283302.raw
.venv*/
*.egg-info/*
